

.PlayingField {
  display: grid;
  grid-template-columns: repeat(22, 90px);
  grid-template-rows: repeat(14, 120px);
  border-radius: 10px 10px 0 0;
  margin-top: auto;
  width: 98%;
  height: 90%;
  background: linear-gradient(280deg, rgba(14,0,155,1) 0%, rgba(0,60,255,1) 33%, rgba(0,212,255,1) 100%);
  overflow:auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.deck::-webkit-scrollbar {
  display: none;
}


/* Small Ipad and Above */
@media (min-width: 640px) {
  
}

/* Big Ipad and Above */
@media (min-width: 768px) {
  
}


/* Laptop Screen and Above*/
@media (min-width: 1024px) {
  
}


/* Small Desktop Screen and Above */
@media (min-width: 1280px) {
  
}

/* Big Desktop Screen and Above */
@media (min-width: 1780px) {
  
}
