.notification-popup {
    position: fixed;
    top: 100px;
    right: 30px;
    padding: 40px;
    border-radius: 8px;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: slideIn 0.3s ease-out;
    z-index: 40;
}

.notification-popup h4 {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
}

.notification-popup p {
    margin: 10px 0 0;
    font-weight: 500;
}

.notification-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-button {
    position: absolute;
    top: 6px;
    right: 10px;
    background: none;
    border: none;
    color: white;
    font-size: 22px;
    cursor: pointer;
}



@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
